table {
    border-spacing: 0;
}

th {
    background-color: black;
    font-weight: bold;
    color: lightgrey;
    text-align: left;
    padding: 5px;
}

td {
    border-top: 1px solid darkgrey;
    padding: 5px;
}

tbody tr:hover {
    background-color: lightgrey;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 16px;
    background: #f9f9f9;
    border: 1px solid lightgrey;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
    border-radius: 5px;
}

form input {
    background: white;
    border: 1px solid darkgray;
}

form button {
    background: lightgrey;
    padding: 0.8em;
    width: 100%;
    border: 0;
}

form button:hover {
    background: deepskyblue;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
    text-align: right;
    grid-column: 1 / 2;
}

input {
    padding: 0.7em;
}

input:focus {
    outline: 3px solid deepskyblue;
}